<div class="container-fluid">

  <div class="jumbotron text-center">
      <h1 class="mb-5">
          <span translate>All about your weather in one place!</span>
      </h1>
      <app-loader [isLoading]="isLoading"></app-loader>
      <div class="form-row align-items-center" [hidden]="isLoading">
        <div class="col-sm-4">
          <label class="sr-only" for="inlineFormInput">Location</label>
          <input type="text" class="form-control" id="inlineFormInput" placeholder="Your location" [(ngModel)]="city" required>
        </div>
        <div class="col-auto">
            <div class="form-check form-check-inline">
                <input class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions" 
                  id="inlineRadio1"
                  value="metric"
                  [(ngModel)]="unit"
                  (click)="setUnit(u1.value)"
                  checked
                  #u1>
                <label class="form-check-label" for="inlineRadio1">C°</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="imperial"
                  [(ngModel)]="unit"
                  (click)="setUnit(u2.value)"
                  #u2>
                <label class="form-check-label" for="inlineRadio2">F°</label>
              </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary" (click)="getWeatherByCityName(city)" [disabled]="city === ''">Get weather report</button>
        </div>
      </div>
      
      <table class="table mt-5" [hidden]="isLoading" *ngIf="weatherObj.temp !== 'N/A' && !noDataFetched">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th> 
              <th scope="col">Temperature</th>
              <th scope="col">Humidity</th>
              <th scope="col">Wind speed</th>
              <th scope="col">Wind direction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><img [src]="weatherObj.iconSrc" alt="weather-icon"></th>
              <td>{{ weatherObj.temp }}</td>
              <td>{{ weatherObj.humidity }}</td>
              <td>{{ weatherObj.windSpeed }}</td>
              <td>{{ weatherObj.windDeg }}</td>
            </tr>
          </tbody>
      </table>

      <div class="alert alert-warning mt-5" *ngIf="noDataFetched">
        No data found for your location. This can be the fault of searching for a location which not exist or you have specified the wrong <strong>APPID</strong> when you logged in.
      </div>
  </div>
</div>
